{% extends 'base.html' %}

{% block content %}

<h3> Лицевой счет: {{flat}}</h3>

<div id="editor">
	<form class="form-inline" method="post" action="/admin/edit_metric">
	<div class="form-group mx-sm-3 mb-2">
		<input name="flat" type="hidden" value="{{ flat }}" id="flat"/>
<input  type="hidden" value="" id="id_metric" name="id_metric"/>
            <label for="identifier" class="sr-only" >Лицевой счет</label>
            <input type="text" class="form-control" id="identifier" name = "identifier" placeholder="Счет">
		<label for="curr_value" class="sr-only" >Текущие показания</label>
            <input type="text" class="form-control" id="curr_value" name = "curr_value" placeholder="Показания">
		<label for="prev_value" class="sr-only" >Прошлые показания</label>
            <input type="text" class="form-control" id="prev_value" name = "prev_value" placeholder="Показания">

        </div>
        <button type="submit" class="btn btn-primary mb-2" >Изменить</button>
        <label class="sr-only"  id = "status"></label>
	</form>
</div>

    <table class="table mt-3" id="table">
        <thead>
        <tr>
			<th scope="col">Лицевой счет счетчика</th>
            <th scope="col">Тип счетчика</th>
            <th scope="col">Показания за прошлый месяц</th>
            <th scope="col">Показания за текущий месяц</th>
            <th scope="col">Тариф</th>
            <th scope="col">Цена за тарриф</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>

        {% for metric in metrics %}
            <tr>
				<td>
					{{ metric.Metrics.identifier }}
                </td>
                <td>
					 {{ metric.name }}
                </td>
                <td>
					{{metric.Metrics.prev_value}}
                </td>
                <td>
					{{metric.Metrics.curr_value}}
                </td>
				<td>
					{{metric.tariff}}
                </td>
				<td>
					{{metric.price}}
                </td>
                <td><p>
                <button type="button" class="btn btn btn-primary text-light" data-toggle="modal" value="@item.Id" data-target="#addingModal" onclick="toggle( this, '{{ metric.Metrics.identifier }}')">
                        Редактировать счетчик
                    </button></p>
					<p>
				<a class="btn btn btn-primary text-light"
				   href="">Удалить</a></p>
            	</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<script>
document.getElementById('editor').style.display = "none";
var index = -1;
var _id = -1;
var flat = '{{ flat }}';

function toggle(but, id) {
	    _id = id;
	    n = $(but).closest("tr").index();
    if (index === n){
            document.getElementById('editor').style.display = "none";
            index = -1;
            return;
        }
    index = n;
    console.log(index)
    document.getElementById('editor').style.display = "";
    identifier  = document.getElementById("table").rows[n + 1].cells[0].innerHTML.replace(/ +/g, ' ').trim();
    prev_value = document.getElementById("table").rows[n + 1].cells[3	].innerHTML.replace(/ +/g, ' ').trim();
    curr_value = document.getElementById("table").rows[n + 1].cells[2].innerHTML.replace(/ +/g, ' ').trim();
    console.log(id)
    $("#prev_value").val(prev_value);
    $("#curr_value").val(curr_value);
    $("#identifier").val(id);
     $("#id_metric").val(id);
}

</script>
{% endblock %}